.textinho{
    font-size: 350%;
    color: aliceblue;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/universeBackground.jpg);
}